<div class="container mt-3">
  <button class="btn btn-success mb-3" (click)="addEnterpriseClient()">Add</button>

  <div *ngIf="showSuccessMessage" class="alert alert-success alert-dismissible fade show" role="alert">
    Update Sucessfull!
    <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
  </div>

  <div *ngIf="showWarningMessage" class="alert alert-warning alert-dismissible fade show" role="alert">
    Client name is required!
    <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
  </div>

  <div *ngFor="let entity of enterpriseClients; let i = index" class="card mb-3">
    <div class="card-body">
      <input type="text" [(ngModel)]="entity.enterpriseClientName" class="form-control mb-2" placeholder="Enter client name" tooltip="Enter client name"/>
      <select class="form-control mb-2" id="enterpriseScale" [(ngModel)]="entity.enterpriseScale" tooltip="Enter client scale">
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
      </select>
      <br/>
      <button class="btn btn-primary me-2" (click)="updateEnterpriseClient(entity)">Update</button>
      <button class="btn btn-danger" (click)="deleteEnterpriseClient(entity.enterpriseClientId)">Delete</button>
    </div>
  </div>
</div>
